.App {
  text-align: left;
  padding: 3% 6% 3% 6%;
}

body {
  background-color: #E5E5E5;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 2rem;
  color: #333333;
}

h2 {
  font-size: 1.5rem;
  color: #333333;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ABABAB;
}