.App {
  text-align: left;
  padding: 4% 6% 4% 6%; 
}

body {
  background-color: #E5E5E5;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 2rem;
  color: #333333;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ABABAB;
}
