.results-and-noms-section {
    margin-top: 2%;
}

.results {
    float: left;
    width: 60%;
    margin-right: 5%;
    /* background-color: white; */
}

.movie-cards {
    height: 60vh;
    overflow: auto;
    scroll-padding: 0px 0px 0px 0px;
}

.nominations {
    float: left;
    width: 35%;
}

.nominated-movies {
    height: 50vh;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
}